<li id="listDivider" class="customer-equipment-list-divider" data-theme="a"> 
    <span class="time-sheet-list-item" style="width: 16%"><%= Localization.getText( "manufacturerLabel" ) %></span>
    <span class="time-sheet-list-item" style="width: 16%"><%= Localization.getText( "modelLabel" )        %></span>
    <span class="time-sheet-list-item" style="width: 16%"><%= Localization.getText( "serial" )            %></span>
    <span class="time-sheet-list-item" style="width: 9%"> <%= Localization.getText( "year" )              %></span>
    <span class="time-sheet-list-item" style="width: 14%"><%= Localization.getText( "hourMeterLabel" )    %></span>
    <span class="time-sheet-list-item" style="width: 25%"><%= Localization.getText( "customerId" )        %></span>
</li>
