<li id="equipment<%= equipment.webId %>" class="customer-list-item" data-icon="false" style="margin-left: 0px;width: 100%;"><a> 
    <h3 class="time-sheet-list-item" style="width: 17%"><%= equipment.manufacturer  %></h3>
    <h3 class="time-sheet-list-item" style="width: 16%"><%= equipment.productCode %></h3>
    <h3 class="time-sheet-list-item" style="width: 16%"><%= equipment.serialNumber %></h3>
    <h3 class="time-sheet-list-item" style="width: 9%"> <%= equipment.modelYear  %></h3>
    <h3 class="time-sheet-list-item" style="width: 14%"><%= equipment.hourMeter %></h3>
    <h3 class="time-sheet-list-item" style="width: 25%"><%= equipment.customerEquipmentId  %></h3>
</a></li>
