<li id="" class="parts-list-item" data-icon="false" style="margin-left: 0px; margin-right: 0px;"><a>
    <div class="ui-grid-b">
        <div class="ui-block-a" style="margin-left: 25px;">
            <h3><%= description %></h3>
            <p><%= Localization.getText("partNumberHeader") %><%= productCode %></p> 
            <p><%= Localization.getText("manufacturerHeader") %><%= manufacturer %></p> 
        </div>
        <div class="ui-block-b" style="margin-left: -25px;">
            <h3><%= Localization.getText("lastWorkOrder") %> <%= documentNumber %></h3>
            <p><%= Localization.getText("hourMeterHeader") %> <%= hourMeter %></p>
        </div>
        <div class="ui-block-c">
            <h3><%= Localization.getText("lastReplaced") %><%= Localization.formatDateTime( dateClosed, 'd' ) %></h3>
            <p><%= Localization.getText( "warrantyHeader") %> </p>
            <p><%= Localization.getText('timesReplaced') %><%= count %></p>
        </div>
    </div>
</a></li>