<div id="vanInventory" data-role="header" data-position="fixed">
    <div class="ui-bar-a" style="height: 42px;">
        <h1 id="vanInventoryAddPage" translate="yes" class="ui-title" style="margin-top: 12px;"></h1>
        <p class="onlineIndicatorForCustomHeader">
            <span id="onlineIndicator"></span>
        </p>
        <a id="btnDone" href="" class="signature-panel-button-done button-default" data-role="button" data-mini="true" data-inline="true" data-theme="a">
            <%= Localization.getText( "done" ) %>
        </a>
    </div>
</div>
<div id="vanInventoryListHeader" class="ui-bar-d">
    <div class="ui-grid-a">
        <div class="ui-block-a guided-search-block-width guided-search-block-header" style="padding-top: 2px;">
            <h2 id="guidedSearchHeader" class="guided-search-header" translate="yes" style="margin-left: 1px;">Guided Search</h2>
        </div>
        <div class="ui-block-b list-block-width list-block-div" style="border-left: none; padding-top: 3px;">
            <div class="ui-grid-e">
                <div class="ui-block-a" style="width: 20%; text-align: center; padding-left: 30px;">
                    <h3 class="inventory-list-header-item"><%= Localization.getText( "partNumberLabel" ) %></h3>
                </div>
                <div class="ui-block-b" style="width: 20%; text-align: center; padding-left: 15px;">
                    <h3 class="inventory-list-header-item"><%= Localization.getText( "manufacturerLabel" ) %></h3>
                </div>
                <div class="ui-block-c" style="width: 15%; text-align: center;">
                    <h3 class="inventory-list-header-item"><%= Localization.getText( "bin" ) %></h3>
                </div>
                <div class="ui-block-d" style="width: 10%; text-align: center;">
                    <h3 class="inventory-list-header-item"><%= Localization.getText( "quantityLabel" ) %></h3>
                </div>
                <div class="ui-block-e" style="width: 35%; margin-top: -10px; padding-left: 75px;">
                <!--<div style="position:absolute; right: 0px; width: 17%; margin-right: 9px; padding-top: 3px;">-->
                    <a href="" id="previousPage" style="float:left;margin-top: 16px;" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-inline="true"></a>
                    <h3 id="pageHeader" translate="yes" style="-webkit-margin-before: .95em; float: left;margin-left: 10px;"></h3>
                    <h3 id="currentPage" style="-webkit-margin-before: .95em; float: left;margin-left: 5px;"></h3>
                    <h3 id="pageDivider" translate="yes" style="-webkit-margin-before: .95em; float: left;"></h3>
                    <h3 id="pageCount" style="-webkit-margin-before: .95em; float: left;"></h3>
                    <a href="" id="nextPage" style="float:left;margin-top: 16px;margin-left: 15px;" data-role="button" data-icon="arrow-r" data-iconpos="notext" data-inline="true"></a>
                </div>
            </div>
        </div>
    </div>
</div>
