<div style="text-align: center;">
    <h3 class="dialog-header"><%= Localization.getText( dialogTitle ) %></h3>
    <p class="clocking-dialog-text"><%= Localization.getText( dialogPrompt ) %></p>
    <input type="hidden" id="startTime" value="<%= startTime %>"/>
    <p class="clocking-dialog-text"><span><%= Localization.getText( "startTimeLabel") %></span>:&nbsp;<span><%= Localization.formatDateTime( startTime, 't' ) %></span> 

    <!-- Travel required checkbox -->
    <% if ( showTravelCheckbox ) { %>
    <div data-role="fieldcontain" style="margin: 10px 10px 10px 10px;font-size: 20px;">
        <fieldset data-role="controlgroup">
            <input type="checkbox" name="travelRequired" id="travelRequired" class="custom" data-inline="true" data-theme="c" />
            <label for="travelRequired"><%= Localization.getText( "travelRequiredPrompt" ) %></label>
        </fieldset>
    </div>
    <% } %>
    
    <hr /> 
    <!-- Button content area -->
    <div id="divButtons" class="ui-grid-a" style="margin-top: -10px;">
        <div class="ui-block-a">  
            <!-- No closes the start time dialog and does not change the clocking status -->
            <a href="" rel="cancel" onclick="Dialog.closeDialog( true );" data-mini="false" data-role="button" data-inline="true" data-theme="a" style="width: 95%;">
                <%= Localization.getText( "no" ) %></a>
         </div>
         <div class="ui-block-b">
            <!-- Yes calls back to UIFrame to save the new clocking status with start time -->
            <a href="" data-role="button" data-mini="false" data-inline="true" data-theme="b" style="width: 95%;"
               onclick="save();"><%= Localization.getText( "yes" ) %></a>
         </div>
     </div>
    
    <script>
        /**
         * Save the chosen clocking status
         */
        function save() {
            var clockingStatus = "technicianStatusProductive";
            var startTime = $('#startTime').val();
            if ( $("#travelRequired").attr( 'checked' ) ) {
                clockingStatus = "technicianStatusTraveling";
            }
            debug && console.log( "startworkorderwithtraveloptiondialog.save: Changing clocking status to " +
                                  clockingStatus + " using start time = " + startTime );
            JSONData.saveClockingStatus( clockingStatus, startTime );
            Dialog.closeDialog();
        }
    </script>
</div>
