<li id="inventory<%= inventory.webId %>" class="van-inventory-list-item">
    <span class="inventory-list-item" style="width: 30%"><h3><%= inventory.productCode %></h3><p><%= inventory.description %></p></span>
    <span class="inventory-list-item" style="width: 20%"><h3><%= inventory.manufacturer %></h3></span>
    <span class="inventory-list-item" style="width: 15%"><h3><%= inventory.binName %></h3></span>
    <span class="inventory-list-item" style="width: 10%"><h3><%= inventory.quantity %></h3></span>
    <span class="inventory-list-item" style="width: 10%"><h3><%= inventory.minimum %></h3></span>
    <span class="inventory-list-item" style="width: 10%"><h3><%= inventory.maximum %></h3></span>
</li>
