<li id="inventory<%= inventory.webId %>" class="van-inventory-list-item">
    <span class="inventory-list-item" style="width: 10%"><h3></h3></span>
    <span class="inventory-list-stock-area" style="width: 40%"><h3><%= stockArea.name %></h3></span>
    <span class="inventory-list-item" style="width: 15%"><h3><%= inventory.binName %></h3></span>
    <span class="inventory-list-item" style="width: 10%"><h3><%= inventory.quantity %></h3></span>
    <span class="inventory-list-item" style="width: 10%"><h3><%= inventory.minimum %></h3></span>
    <span class="inventory-list-item" style="width: 10%"><h3><%= inventory.maximum %></h3></span>
</li>
