<div style="text-align:center;">
    <div style="text-align: center;margin-top: -5px;">
        <h3><%= contact.firstName %> <%= contact.lastName %></h3>
        <h3 style="margin-top: -15px;"><%= customer.name %></h3>
        
        <hr />
        
        <div class="ui-grid-a" style="text-align: left;">
            <div class="ui-block-a" style="width: 25%;margin-top: -10px;">
                <p style="font-weight: bold;margin-left: 15px;"><%= Localization.getText( 'mobilePhoneHeader' ) %></p>
                <p style="font-weight: bold;margin-left: 15px;margin-top: -10px;"><%= Localization.getText( 'homePhoneHeader' ) %></p>
                <p style="font-weight: bold;margin-left: 15px;margin-top: -10px;"><%= Localization.getText( 'workPhoneHeader' ) %></p>
                <p style="font-weight: bold;margin-left: 15px;margin-top: -10px;"><%= Localization.getText( 'emailHeader' ) %></p>
                
                <p style="font-weight: bold;margin-left: 15px;margin-top: 10px;"><%= Localization.getText( 'addressHeader' ) %></p>
            </div>
            
            <div class="ui-block-b" style="width: 75%;margin-top: -10px;">
                <p style="margin-left: 15px;"><%= mobilePhone %></p>
                <p style="margin-left: 15px;margin-top: -10px;"><%= homePhone %></p>
                <p style="margin-left: 15px;margin-top: -10px;"><%= workPhone %></p>
                <p style="margin-left: 15px;margin-top: -10px;"><%= email %></p>
                
                <!-- Handle addresses with two street properties -->
                <p class="work-order-list-item-text" style="margin-left: 15px;margin-top: 22px;"><%= address.street %></p>
                <% if ( address.street2 && address.street2.length > 0 ) { %>
                    <p class="work-order-list-item-text" style="margin-left: 15px;margin-top: -5px;"><%= address.street2 %></p>
                <% } %>
                <p class="work-order-list-item-text" style="margin-left: 15px;margin-top: -5px;"><%= address.city %>,&nbsp;<%= address.state %>&nbsp;<%= address.postalCode %></p>
            </div>
        </div>
    </div>
    
    <hr />
    
    <a id="btnOkay" href="" data-role="button" data-inline="true" data-theme="b" onclick="Dialog.closeDialog(); CustomerEquipment.displayAdditionalContacts();" style="width: 90%;margin-bottom: 10px;">
        <%= Localization.getText( "okay" ) %>
    </a>
</div>