<div>
    <ul data-role='listview' style="margin-top: -5px;">
        <li id="acceptWorkOrder" class="popup-menu-item" data-theme="c" data-icon="false"><a href='#' onclick="onAccept( '<%= workOrder.webId %>' );"><%= Localization.getText( "acceptWorkOrder" ) %></a></li>
        <!--<li id="reassignWorkOrder" class="popup-menu-item" data-theme="c" data-icon="false"><a href='#' onclick="onReassign( '<%= workOrder.webId %>' );"><%= Localization.getText( "reassignWorkOrder" ) %></a></li>-->
        <!--<li id="openWorkOrder" class="popup-menu-disabled-item" data-theme="c" data-icon="false"><%= Localization.getText( "openWorkOrder" ) %></li>-->
        <li id="viewWorkOrder" class="popup-menu-item" data-theme="c" data-icon="false"><a href='#' onclick="onView( '<%= workOrder.webId %>' );"><%= Localization.getText( "viewWorkOrder" ) %></a></li>
        <hr style="margin-top: -5px;"/>
        
    <hr style="margin-top: -4px;" />
    <!-- Button content area -->
    <div id="divButtons" style="margin-top: -10px;">
        <a href='#' onclick="onCancel();" class="button-default" data-role="button" data-inline="true" data-theme="b" style="width: 95%">
            <%= Localization.getText( "cancel" ) %>
        </a>
    </div>
</div>
<script>
    /**
     * onclick event handlers for the popup menu
     */
    function onAccept( workOrderId ) {
        debug && console.log( "acceptedworkorderpopupmenu.onView: Accepting work order ID: " + workOrderId );
        Dialog.closeDialog();
        WorkOrderList.acceptWorkOrder( workOrderId );
    }
    function onReassign( workOrderId ) {
        debug && console.log( "acceptedworkorderpopupmenu.onReassign: Reassigning work order ID: " + workOrderId );
        Dialog.closeDialog();
        WorkOrderList.displayReassignWorkOrderDialog( workOrderId );    
    }
    function onView( workOrderId ) {
        debug && console.log( "acceptedworkorderpopupmenu.onView: Viewing work order ID: " + workOrderId );
        Dialog.closeDialog();
        WorkOrderList.viewWorkOrder( workOrderId );        
    }
    function onCancel() {
        Dialog.closeDialog();
    }
</script>

