<li id="timeItem" class="work-order-list-item" data-icon="false">
    <span class="time-sheet-list-item" style="width: 13%"><%= date %> </span> 
    <span class="time-sheet-list-item" style="width: 13%"><%= Localization.formatDateTime( clockTime.timeStart, 't') %></span>
    <span class="time-sheet-list-item" style="width: 13%"><%= endTime %></span>
    <span class="time-sheet-list-item" style="width: 9%" ><%= hours %></span>
    <span class="time-sheet-list-item" style="width: 17%"><%= type %></span>
    <span class="time-sheet-list-item" style="width: 14%"><%= workOrder %></span>
    <span class="time-sheet-list-item" style="width: 17%"><%= customer %> </span>
</li>
