<li id="inventory<%= inventory.webId %>" class="van-inventory-list-item" data-icon="false">
    <span class="inventory-list-item" style="width: 20%"><h3><%= inventory.productCode %></h3><%= inventory.description %></span>
    <span class="inventory-list-item" style="width: 20%"><h3><%= inventory.manufacturer %></h3></span>
    <span class="inventory-list-item" style="width: 12%"><h3><%= inventory.binName %></h3></span>
    <span class="inventory-list-item" style="width: 13%"><h3><%= inventory.quantity %></h3></span>
    <span class="inventory-list-item" style="width: 20%">
        <div>
            <a href="" id="minus" style="float:left;margin-top: -15px;" data-role="button" data-icon="minus" data-iconpos="notext" data-inline="true"></a>
        </div>
    </span>
</li>
