<!-- 
    workorderlistitem.ejs - EJS template for a work order item
    Requires:
        customer object
        address object for customer
        contact object for customer
        communicationDetail object for customer 
-->
<li id="<%= workOrder.webId %>" class="work-order-list-item" data-icon="false" style="margin-left: 0px; margin-right: 0px;"><a style="padding: 2px 0px 0px 0px;">
    <div class="ui-grid-d">
        <!-- Block A contains the status icon and the parts on order icon -->
        <div class="ui-block-a" style="width: 40px;">
            <div style="margin-left: 5px;">
                <img id="workOrderStatusIcon" src="<%= WorkOrder.getWorkOrderStatusIcon( workOrder ) %>" style="border-style: none;"/>
                <% if ( WorkOrder.isPartOnOrder( workOrder ) ) { %>
                    <br/><img id="partsOnOrderIcon" src="images/redgearicon.png" style="border-style: none;"/>
                <% } %>
            </div>
        </div>
        <!--  Block B contains the work order information -->
        <div class="ui-block-b" style="width: 25%;">
            <h3 class="work-order-list-item-heading" style="margin-bottom: 0px;"><%= workOrder.documentNumber %></h3>
            <% if ( workOrder.workOrderSegments[0].equipment ) { %>
                <p class="work-order-list-item-text" ><%= workOrder.workOrderSegments[0].equipment.serialNumber %></p>
                <p class="work-order-list-item-text" ><%= workOrder.workOrderSegments[0].equipment.manufacturer %>,&nbsp;<%= workOrder.workOrderSegments[0].equipment.productCode %></p>
                <% if ( workOrder.workOrderSegments[0].equipment.customerEquipmentId ) { %>
                    <p class="work-order-list-item-text" ><%= Localization.getText( "customerIdHeader" ) %><%= workOrder.workOrderSegments[0].equipment.customerEquipmentId %></p>
                <% } %>
            <% } %>
            <% if ( workOrder.workOrderSegments[0].standardJobCode != null ) { %>
                <p class="work-order-list-item-text"><span id="jobCodeLabel"><%= workOrderItemTranslations.jobCodeLabel %></span>:&nbsp;<span><%= workOrder.workOrderSegments[0].standardJobCode.completeJobCode %></span>
                <% if ( workOrder.workOrderSegments[0].standardJobCode != null ) { %>
                    -&nbsp;<span><%= workOrder.workOrderSegments[0].standardJobCode.description %></span>
                <% } %>
                </p>
            <% } %>
        </div>
        <!-- Block C contains the customer information -->
        <div class="ui-block-c" style="width: 30%;">
            <% if ( customer && customer.name ) { %>
            <h3 class="work-order-list-item-heading" style="margin-bottom: 0px;"><%= customer.name %></h3>
            <% } else { %>
            <h3 class="work-order-list-item-heading" style="margin-bottom: 0px;"><%= Localization.getText( "customerMissing" ) %></h3>
            <% } %>
            <% if ( communicationDetail && communicationDetail.information ) { %>
                <p class="work-order-list-item-text" ><span><%= communicationDetail.information %></span>
            <% } %>
            <!-- Optionally display the phone extension -->
            <% if ( communicationDetail && communicationDetail.extension && communicationDetail.extension.length > 0 ) { %>
                &nbsp;<span><%= workOrderItemTranslations.phoneExtension %></span>&nbsp;<span><%= communicationDetail.extension %></span>
            <% } %>
            </p>
            <!-- Handle addresses with two street properties -->
            <p class="work-order-list-item-text" ><%= address.street %></p>
            <% if ( address.street2 && address.street2.length > 0 ) { %>
                <p class="work-order-list-item-text" ><%= address.street2 %></p>
            <% } %>
            <p class="work-order-list-item-text"><%= address.city %>,&nbsp;<%= address.state %>&nbsp;<%= address.postalCode %></p>
            <% if ( workOrder.contactName ) { %>
                <p class="work-order-list-item-text"><span><%= Localization.getText( "contactLabel" ) %></span>:&nbsp;<span><%= workOrder.contactName %></span>
                <% if ( workOrder.contactNumber ) { %>
                    <span>-&nbsp;</span><span><%= workOrder.contactNumber %></span>
                <% } %>
                </p>
            <% } %>
        </div>
        
        <!-- Block D contains the contact information -->
        <div class="ui-block-d" style="width: 30%;">
            <% if( contact ) { %>
                <h3 class="work-order-list-item-heading" style="margin-bottom: 0px;"><%= contact.firstName %>&nbsp;<%= contact.lastName %></h3>
                <% for ( i = 0; i < contact.address.communicationDetails.length; i++ ) { %>
                    <% if ( contact.address.communicationDetails[i].information ) { %>
                        <p class="work-order-list-item-text" ><span><%= contact.address.communicationDetails[i].type %>:&nbsp;<%= contact.address.communicationDetails[i].information %></span>
                    <% } %>
                    <!-- Optionally display the phone extension -->
                    <% if ( contact.address.communicationDetails[i].extension && contact.address.communicationDetails[i].extension.length > 0 ) { %>
                        &nbsp;<span><%= workOrderItemTranslations.phoneExtension %></span>&nbsp;<span><%= contact.address.communicationDetails[i].extension %></span>
                    <% } %>
                    </p>
                <% } %>
            <% } %>
        </div>
        <!-- Block E contains other open items for the customer -->
        <div class="ui-block-e" style="width: 10%;" >
            <h3 class="work-order-list-item-heading" style="margin-bottom: 0px;"><%= workOrderItemTranslations.open %></h3>
            <p class="work-order-list-item-text" ><%= workOrderCount %> WOs<br /><%= pmsDueCount %> PMs<br /></p>
        </div>
    </div>
    <!-- This block displays descriptive text for the work order -->
    <div class="work-order-list-item-text-block" style="margin-bottom: 10px;">
        <p class="work-order-list-item-text-block-heading">
            <span><%= workOrderItemTranslations.openedOn %></span>&nbsp;<span><%= Localization.formatDateTime( workOrder.workOrderSegments[0].dateOpened, 'd' ) %></span>
            <% if ( workOrder.note != null && workOrder.note.length > 0 && workOrder.note != "null" ) { %>
                &nbsp;-&nbsp;<span><%= workOrder.note %></span>
            <% } %>
        </p>
        <% if( workOrder.workOrderSegments[0].notesTop ||  workOrder.workOrderSegments[0].notesBottom ) { %>
            <p class="work-order-list-item-text" ><%= workOrder.workOrderSegments[0].notesTop %>&nbsp;<%= workOrder.workOrderSegments[0].notesBottom %></p>
        <% } %>
    </div>
</a></li>
