<li  id="customer<%= customer.webId %>" data-icon="false" class="customer-list-item" style="margin-left: 0px; margin-right: 0px;"><a>
    <div class="ui-grid-b">
        <div class="ui-block-a">
            <% if( customer.solvencyCode == 9 || customer.solvencyCode == 11) { %>
                <img class="credit-icon" src="images/credit.png" />
            <% } else { %>
                <div class="credit-icon" style="margin-top: 5px;"></div>
            <% } %>
            
            <div class="list-item-icon-text">
                <h3><%= customer.name %></h3>
                <p class="work-order-list-item-text" style="margin-top: -10px;"><%= customer.internalId %></p>
                <% if ( communicationDetail ) { %>
                    <p class="work-order-list-item-text" ><span><%= communicationDetail.information %></span>
                    <!-- Optionally display the phone extension -->
                    <% if ( communicationDetail.extension && communicationDetail.extension.length > 0 ) { %>
                        &nbsp;<span id="phoneExtension" data-translate="yes"></span>&nbsp;<span><%= communicationDetail.extension %></span>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div class="ui-block-b">
            <img class="globe-icon" src="images/globe.png"/>
            <div class="list-item-icon-text" style="margin-top: -35px;">
                <%= addressHeader %>
                <!-- Handle addresses with two street properties -->
                <p class="work-order-list-item-text"><%= address.street %></p>
                <% if ( address.street2 && address.street2.length > 0 ) { %>
                    <p class="work-order-list-item-text" ><%= address.street2 %></p>
                <% } %>
                <p class="work-order-list-item-text" ><%= address.city %>,&nbsp;<%= address.state %>&nbsp;<%= address.postalCode %></p>
            </div>
        </div>      
        <div class="ui-block-c">
            <div id="open<%= customer.webId %>" class="ui-block-right">
                <%= openHeader %>
                <p class="work-order-list-item-text">
                    <%= woCount %> WOs<br />
                    <%= pmsCount %> PMs<br />
                </p>
            </div>
            
            <div class="ui-block-c-customer">
              <% if( mainContact ) { %>
                <h3 style="margin-top: 0px;margin-bottom: 0px;">
                   <%= mainContact.firstName %>&nbsp;<%= mainContact.lastName %></h3>
                <% if ( mainContact.address.communicationDetails ) { %>
                    <% for ( i = 0; i < mainContact.address.communicationDetails.length; i++ ) { %>
                        <p class="work-order-list-item-text">
                            <span><%= mainContact.address.communicationDetails[i].type %>:&nbsp;
                                <%= mainContact.address.communicationDetails[i].information %>
                            </span>
                        <!-- Optionally display the phone extension -->
                        <% if ( mainContact.address.communicationDetails[i].extension && mainContact.address.communicationDetails[i].extension.length > 0 ) { %>
                            &nbsp;<span id="phoneExtension" data-translate="yes"></span>&nbsp;<span><%= mainContact.address.communicationDetails[i].extension %></span>
                        <% } %>
                        </p>
                    <% } %>
                <% } %>
              <% } %>
            </div>
        </div>
    </div>
</a></li>