</p>
<p class="dialog-text"
   style="margin-left: 15px; margin-right: 15px; text-align: left; -webkit-margin-before: 0em; -webkit-margin-after: 0em;">
<% if ( part.product.manufacturer ) { %>
<b><%= Localization.getText( "mfgLabel" ) %>:</b>&nbsp;&nbsp;<%= part.product.manufacturer %><br/>
<% } %>
<b><%= Localization.getText( "partNumberLabel" ) %>:</b>&nbsp;&nbsp;<%= part.product.productCode %><br/>
<b><%= Localization.getText( "description" ) %>:</b>&nbsp;&nbsp;<%= part.description %><br/>
<b><%= Localization.getText( "quantityLabel" ) %>:</b>&nbsp;&nbsp;<%= part.qtyOrdered() %></p>
<br/>