<li class="guided-search-item" id="<%= itemId %>" title="<%= itemText %>" data-icon="false" style="margin-left: 0px; margin-right: 0px;">
    <% if ( itemCount != null ) { %>
        <a><%= itemText %>&nbsp;&nbsp;<span id="guidedSearchCount<%= itemId %>" class="ui-li-count" style="left:auto; right:auto;"><%= itemCount %></span></a>
    <% } else { %>
        <a><%= itemText %>&nbsp;&nbsp;<span id="guidedSearchCount<%= itemId %>" class="ui-li-count" style="left:auto; right:auto;"></span></a>
    <% } %>
    <a href="" class="guided-search-clear-button" data-role="button" data-inline="true" data-icon="delete" data-iconpos="notext" data-theme="r"></a>
</li>
