<div id="newWorkOrderPopup" style="text-align: center;">
    <!-- Dialog header with buttons -->
    <div class="ui-bar-a">
        <div class="ui-grid-b">
            <div class="ui-block-a" style="text-align: left; width: 25%;">
                <a href="" id="cancelButton"
                   data-role="button" data-inline="true" data-mini="false" data-theme="a"
                   onclick="UIFrame.closeActiveDialog();EquipmentDetail.reassignNavBarContext();"><%= Localization.getText( "cancel" ) %></a>
            </div>
            <div class="ui-block-b" style="text-align: center; width: 50%;">
                <h3 style="display: inline-block;"><span><%= Localization.getText( "newWorkOrder" ) %></h3>
            </div>
            <div class="ui-block-c" style="text-align: right; width: 25%;">
                <div style="display: inline-block;">
                    <a href="" id="btnSave"
                       style="position: absolute; top: 2px; right: 3px;"
                       data-role="button" data-inline="true" data-mini="false" data-theme="b"
                       onclick="EquipmentDetail.saveNewWorkOrder('')"><%= Localization.getText( "save" ) %></a>
                </div>
           </div>
       </div>
    </div>
    
    <div>
        <div class="ui-grid-a">
            <div class="ui-block-a" style="text-align: left;">
                <h3 style="margin-left: 15px;"><%= Localization.getText( "segmentTitleHeader" ) %></h3>
                <h3 style="margin-left: 15px;"><%= Localization.getText( "workOrderDescription" ) %></h3>
            </div>
            <div class="ui-block-b" style="text-align: left;margin-top: 15px;">
                <select id="segmentTitle" style="text-align: left;" data-mini="true" data-inline="true" data-theme="d">
                    <option class="sortCriteria" translate="yes"><%= Localization.getText( "optionRunning" ) %> </option>
                    <option class="sortCriteria" translate="yes"><%= Localization.getText( "optionDown" ) %></option>
                </select>
            </div>
        </div>
        
        <textarea id="txtDescription" style="width: 565px; height: 150px;margin-left: 10px;margin-top: -10px;"></textarea>
        <br/>
    </div>
</div>