<li id="<%= pmDue.webId %>" class="list-item-padding" data-icon="false" style="margin-left: 0px; margin-right: 0px;"><a>
    <div class="ui-grid-b">
        <div class="ui-block-a">
            <% if ( pmDue.equipment ) { %>
                <% if ( pmDue.equipment.serialNumber ) { %>
                    <h3><%= pmDue.equipment.serialNumber %></h3>
                <% } %>
                <p><%= pmDue.equipment.product.manufacturer %>,&nbsp;<%= pmDue.equipment.product.productCode %></p>
                <p><%= pmDue.equipment.customerEquipmentId  %></p>
            <% } %>
        </div>
        <div class="ui-block-b">
            <h3><%= translations.scheduled %> <%= Localization.formatDateTime( pmDue.dateSchedule, 'd' ) %></h3>
            <% if ( pmDue.equipment && pmDue.equipment.lastServiceDate ) { %>
                <p><%= translations.lastServiceDateLabel %> <%= Localization.formatDateTime( pmDue.equipment.lastServiceDate, 'd' ) %></p>
            <% } else { %>
                <p><%= translations.lastServiceDateLabel %> </p>
            <% } %>
            <p><%= translations.pmType %> </p>
        </div>
        <div class="ui-block-c" style="width: 30%">
            <% if ( pmDue.standardJobCode ) { %>
                <h3><%= pmDue.standardJobCode.notes %> <%= translations.jobCode %> <%= pmDue.standardJobCode.jobCode %></h3>
            <% } else { %>
                <h3><%= translations.noAvailableJobCode %></h3>
            <% } %>
        </div>
    </div>
</a></li>
