<li id="listHeader" class="van-inventory-list-header" data-theme="a">
    <span class="time-sheet-list-item" style="width: 30%"><%= Localization.getText( "partNumberLabel" )   %></span> 
    <span class="time-sheet-list-item" style="width: 20%"><%= Localization.getText( "manufacturerLabel" ) %></span>
    <span class="time-sheet-list-item" style="width: 15%"><%= Localization.getText( "bin" )               %></span>
    <span class="time-sheet-list-item" style="width: 10%"> <%= Localization.getText( "quantityLabel" )     %></span>
    <span class="time-sheet-list-item" style="width: 10%"><%= Localization.getText( "minLabel" )          %></span>
    <span class="time-sheet-list-item" style="width: 10%"><%= Localization.getText( "maxLabel" )          %></span>
</li>
