<li id="listDivider" class="van-inventory-list-item">
    <span class="time-sheet-list-divider-item" style="width: 25%"><h3><%= inventory.product.productCode %></h3></span>
    <span class="time-sheet-list-divider-item" style="width: 25%"><h3><%= inventory.product.manufacturer %></h3></span>
    <span class="time-sheet-list-divider-item" style="width: 15%"><h3><%= inventory.binName %></h3></span>
    <span class="time-sheet-list-divider-item" style="width: 10%"><h3><%= inventory.quantity %></h3></span>
    <span class="time-sheet-list-divider-item" style="width: 10%"><h3><%= inventory.minimum %></h3></span>
    <span class="time-sheet-list-divider-item" style="width: 10%"><h3><%= inventory.maximum %></h3></span>
</li>
