<div id="workOrderReviewDialog" style="text-align: center;">
    <!-- Dialog header with buttons -->
    <div class="ui-bar-a">
        <div class="ui-grid-b">
            <div class="ui-block-a" style="text-align: left; width: 25%;">
                <a href="" id="cancelButton"
                   data-role="button" data-inline="true" data-mini="false" data-theme="a"
                   onclick="cancel();"><%= Localization.getText( "cancel" ) %></a>
            </div>
            <div class="ui-block-b" style="text-align: center; width: 50%;">
                <h3 style="display: inline-block;"><span><%= Localization.getText( "workOrderReview" ) %></span>&nbsp;-&nbsp;<span><%= workOrder.documentNumber %></span></h3>
            </div>
            <div class="ui-block-c" style="text-align: right; width: 25%;">
                <div style="display: inline-block;">
                    <a href="" id="cameraButton"
                       style="position: absolute; top: 10px; right: 95px;"
                       data-bind="click: takeWorkOrderReviewPicture">
                       <img src="images/camera-white.png"/>
                   </a>
                    <a href="" id="sendButton"
                       style="position: absolute; top: 2px; right: 3px;"
                       data-role="button" data-inline="true" data-mini="false" data-theme="b"
                       data-bind="click: sendWorkOrderReviewMessage"><%= Localization.getText( "send" ) %></a>
                </div>
           </div>
       </div>
    </div>
    <div style="text-align: left; padding: 0px 10px 0px 10px;">
        <h3 class="work-order-review-dialog-header-text"><%= Localization.getText( "enterWorkOrderReviewText" ) %></h3>
        <textarea style="width: 865px; height: 150px;"
                  data-bind="value: reviewMessageText, valueUpdate: 'afterkeydown'"></textarea>
        <br/>
    </div>
</div>
<script>
    /**
     * Cancel handler
     */
    function cancel() {
        debug && console.log( "workorderreviewdialog.cancel: Canceling work order review" );
        UIFrame.closeActiveDialog();
    }
</script>