<!-- Total labor hours -->
<div style="text-align: right;margin-right: 20px;">
    <br/>
    <p class="manage-work-order-text"><span id="totalLaborHours" data-translate="yes" style="font-weight: bold;"></span>:&nbsp;<span><%= hours %></span></p>
</div> 

<br/>

<!-- Reported problem -->
<div style="margin-left: 20px;">
    <h3 class="manage-work-order-heading" id="reportedProblem" data-translate="yes"></h3>
    <p class="manage-work-order-text"><%= workOrder.note %></p>
</div>


<br/>

<!-- Repair action code -->
<div style="margin-left: 20px;">
    <h3 class="manage-work-order-heading" id="repairActionCodeLabel" data-translate="yes"></h3>
    <p class="manage-work-order-text"><%= repairCode %></p>
</div>

<br/>

<!-- Additional repair notes -->
<div style="margin-left: 20px;">
    <h3 class="manage-work-order-heading" id="additionalRepairNotesLabel" data-translate="yes"></h3>
    <p class="manage-work-order-text">
        <span><%= segment.notesTop %></span><br/>
        <span><%= segment.notesBottom %></span>
    </p>
</div>

<br />

<div style="margin-left: 20px;">
    <h3 class="manage-work-order-heading" id="workOrderRecipientHeader" data-translate="yes"></h3>
    <% if( emailRecipient != null ) { %>
        <p class="manage-work-order-text"><span><%= emailRecipient.information %></span></p>
    <% } else { %>
        <p class="manage-work-order-text"><span> - </span></p>
    <% } %>
    </h3>
</div>