<div class="ui-grid-d" style="padding: 0em; border-left: solid 1px black; border-right: solid 1px black;border-bottom: solid 1px #AAA;height: 40px;margin-left: 20px;margin-right: 20px;">
    <div class="ui-block-a manage-work-order-parts-list-block" style="width: 20%;">
        <p class="manage-work-order-parts-list-item-text"><%= line.product.manufacturer %></p>
    </div>
    <div class="ui-block-b manage-work-order-parts-list-block" style="width: 20%;">
        <p class="manage-work-order-parts-list-item-text"><%= line.product.productCode %></p>
    </div>
    <div class="ui-block-c manage-work-order-parts-list-block" style="width: 20%;">
        <p class="manage-work-order-parts-list-item-text"><%= line.description %></p>
    </div>
    <div class="ui-block-d manage-work-order-parts-list-block" style="width: 20%;">
        <p class="manage-work-order-parts-list-item-text"><%= location %></p>
    </div>
    <div class="ui-block-e manage-work-order-parts-list-block" style="border-right: none;width:19%;">
        <p class="manage-work-order-parts-list-item-text"><%= line.qtyOrdered %></p>
    </div>
</div>